html, body {
    height: 99%;
    margin: 5px 0 0 0;
    font-family: 'Acme', sans-serif;
    background-color: black;
    color: white;
    letter-spacing: 3px;
}

#container {
    position: relative;
    margin: auto;
    width: 760px;
    height: 95%;
    border: 2px dotted white;
    padding: 10px;
}

#title {
    text-align: center;
    font-size: 42px;
}

#game-container {
    position: relative;
    height: 40%;
    width: 100%;
    text-align: center;
    color: black;
    background-color: #F5EFE7;
    box-shadow: 0px 0px 3px 1px white;
}

#game-container h1 {
    display: inline-block;
    margin: 0 20px;
    letter-spacing: 10px;
    bottom: 0;
    overflow: hidden;
}

#phrase {
    clear: both;
    width: 100%;
}

#songs-container {
    height: 45%;
    width: 50%;
    float: left;
    margin-top: 5px;
}

#song-title {
    top: 0;
    text-align: center;
    margin: 0;
}

#figure {
    position: relative;
    width: 195px;
    height: 260px;
    left: 25%;
    top: 25%;
    background-image: url("../images/holder.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

#sign {
    position: absolute;
    margin: auto;
    background-image: url("../images/sign2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 63.5%;
    top: -30%;
    z-index: 2;
}

#current {
    position: relative;
    width: 65%;
    padding-top: 35%;
    display: block;
    margin: 15% auto;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

#stats-container {
    width: 45%;
    height: 45%;
    float: right;
    margin-top: 5px;
    padding: 0 5px;
    border-left: 2px dotted white;
}