html, body {
    height: 99%;
    margin: 5px 0 0 0;
    font-family: 'Acme', sans-serif;
    background-color: black;
    color: white;
}

#container {
    position: relative;
    margin: auto;
    width: 760px;
    height: 95%;
    border: 2px dotted white;
    padding: 10px;
}

#title {
    text-align: center;
}

#game-container {
    position: relative;
    height: 40%;
    width: 100%;
    text-align: center;
    /* overflow: auto; */
    background-color: #F5EFE7;
    box-shadow: 0px 0px 3px 1px white;
}

#game-container h1 {
    /* float: right; */
    display: inline-block;
    margin: 10px 20px;
    letter-spacing: 10px;
    color: black;
}

#songs-container {
    width: 50%;
    float: left;
    margin-top: 5px;
}

#sign {
    position: relative;
    margin: auto;
    background-image: url("../images/sign2.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 191px;
    top: 20px;
    z-index: 2;
}

#songs-container img {
    display: block;
    margin: auto;
}

#current {
    position: absolute;
    height: 50%;
    width: 55%;
    left: 23%;
    top: 25%;
}

#figure {
    position: absolute;
    left: 15%;
    bottom: 15px;
}

#stats-container {
    width: 45%;
    height: 50%;
    float: right;
    margin-top: 5px;
    padding: 0 5px;
    border-left: 2px dotted white;
}